<div class="formulario">
  <h3>Nuevo Movimiento</h3>

  <form (ngSubmit)="enviar()">
    <input type="date" [(ngModel)]="form.fecha" name="fecha" required />
    <input type="text" [(ngModel)]="form.nombre" name="nombre" placeholder="Modelo" required />
    <input type="number" [(ngModel)]="form.cantidad" name="cantidad" min="1" required />
    
    <select [(ngModel)]="form.tipo" name="tipo">
      <option value="ingreso">Ingreso</option>
      <option value="egreso">Egreso</option>
    </select>

    <input type="text" [(ngModel)]="form.comentario" name="comentario" placeholder="Comentario" />

    <button type="submit">Agregar</button>
  </form>
</div>
